.single-post-container{
    width : 100%;
    padding-top : 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}